* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #333;
}

h2 {
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

.sidenav {
  background-color: #222222ed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
.header-sidenav {
  display: flex;
  justify-content: center;
  padding: 22px 18px;
  border-bottom: 1px solid #555;
}

.form {
    display: flex;
    justify-content: center;
    gap: 12px 0;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: auto;
    width: 85%;
}

.form input {
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
}

.form input:focus:not([type="file"]) {
    border: 5px solid #0000ff;
}

.container {
  grid-column: 2;
}

.header-container-section {
  padding: 22px 18px;
  border-bottom: 1px solid #555;
  margin-bottom: 22px;
}

.container-card {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  gap: 70px 0;
}

.card {
  color: #fff;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100% 100%;
  gap: 5px;
}

.footer-card {
  grid-column: 1 / span 2;
}

.description-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px 0;
}

.card-image img {
  max-width: 100%;
  height: auto;
}

.btn-delete {
  padding: 8px;
  display: inline-block;
  width: fit-content;
  width: min-content;
  cursor: pointer;
  background-color: #e21150;
}